{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <table>

        <thead>
        <tr>
            <th>Word</th>
            <th>TF</th>
            <th>IDF</th>
        </tr>
        </thead>
        <tbody>
        {% for word, data in data %}
            <tr>
                <td>{{ word }}</td>
                <td>{{ data.tf }}</td>
                <td>{{ data.idf }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}