<!DOCTYPE html>
<html>
<head>
    <title>TF-IDF Table</title>
</head>
<body>
    <h1>TF-IDF Table</h1>
    <a href="/">На главную</a>
    <table>
        <thead>
            <tr>
                <th>Word</th>
                <th>TF</th>
                <th>IDF</th>
            </tr>
        </thead>
        <tbody>
            {% for word, data in data %}
            <tr>
                <td>{{ word }}</td>
                <td>{{ data.tf }}</td>
                <td>{{ data.idf }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>